nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(65,65,65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgba(51, 49, 49, 0.856);
            color: rgba(245, 195, 245, 0.699);
        }
    }
}